@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Lato:ital,wght@0,300;0,400;0,700;1,100;1,400;1,700&family=Poppins&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --ff-primary: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  color: #fff;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}

.clicklogo img {
  width: 20%;
}

.prog img {
  width: 20%;
  height: 20%;
}

.past-imgs img {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 0.6rem;
}

.chefs img {
  width: 40%;
  height: 40%;
}

.logo img {
  width: 80%;
  padding: 10px;
  background: #f3f3f3;
  margin-left: 2.5rem;
}

.partners-logo img {
  width: 15%;
  margin-bottom: 2%;
  margin-top: 5%;
}

.company img {
  width: 20%;
}

.nav-logo2 a img {
  color: rgb(14, 13, 13);
}

.flex-nav {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
  height: 3rem;
  background: #d3d3d3;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.nav-list2 {
  display: none;
  flex-direction: column;
  gap: 2rem;
  background-color: #272a31;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  padding: 1rem;
  z-index: 1;
}

.clicklogo {
  list-style: none;
  display: none;
}

.click,
a {
  list-style: none;
  justify-content: space-between;
  text-decoration: none;
  color: #d3d3d3;
  font-size: 3rem;
}

.click:hover {
  color: #414246;
}

.clicks {
  list-style: none;
}

header {
  background-image: url("./img/high10.jpg");
  background-repeat: repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

.homepage {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-top: 20%;
  padding: 5%;
}

.homepage h3 {
  color: #e60c0c;
}

.homepage h1 {
  color: #bd1a07;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
}

.homepage p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2rem;
  width: 100%;
  color: #272a31;
  padding: 0.8rem;
  border: 1px #d3d3d35c solid;
  display: block;
  background-color: #d3d3d3;
  opacity: 0.8;
  border-radius: 10px;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.nav-toggle {
  font-size: 40px;
  color: #000;
  font-weight: 700;
}

.sectiontwo {
  padding: 1.25rem;
}

.ri-menu-fill {
  color: #292a2b;
  font-size: 2.5rem;
  font-weight: 700;
  cursor: pointer;
}

.ri-close-fill {
  display: none;
  position: relative;
  left: 85%;
  text-decoration: none;
  list-style: none;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  cursor: pointer;
}

.ri-menu-fill:hover,
.ri-close-fill:hover {
  color: #d3d3d3;
}

.date {
  font-size: 1.5rem;
  color: #272a31;
}

.venue {
  font-size: 1em;
  color: #272a31;
}

.main-programs {
  background-image: url("./img/bck2.png");
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 5%;
}

.main-programs h2 {
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
  padding: 1.2rem;
}

hr {
  width: 20%;
  height: 1px;
  border: none;
  margin: 0 auto;
  background-color: #ec5242;
}

.prog {
  display: flex;
  gap: 8px;
  align-items: center;
  border: none;
  color: #fff;
  font-size: 0.9rem;
  background-color: #272a31;
  margin: 0.8em;
  justify-content: space-around;
  padding: 2%;
}

.prog p {
  color: #fff;
  font-size: 0.8rem;
  width: 40%;
  text-align: start;
}

.prog h3 {
  color: #ec5242;
  font-size: 1.25rem;
}

.join-bole {
  background: #ff4f38;
  width: 80%;
  height: auto;
  margin: auto;
  padding: 1.5rem;
  margin-top: 5%;
}

.featured-chefs {
  margin: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.featured-chefs hr {
  width: 10%;
}

.featured-chefs h2 {
  color: #000;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 2%;
  padding-top: 5%;
}

.chefs {
  display: flex;
  gap: 4%;
}

.portfolio {
  display: flex;
  flex-direction: column;
  gap: 4%;
}

.portfolio h3 {
  color: #ec5242;
  font-size: 1.25rem;
  padding-top: 3%;
}

.portfolio .intro {
  color: #ec5242;
  font-size: 0.8rem;

  /* width: 100%; */
  font-style: italic;
  padding-bottom: 3%;
}

.portfolio .main {
  color: #000;
  font-size: 1rem;

  /* width: 100%; */
  font-weight: 400;
}

.portfolio hr {
  width: 10%;
  background-color: #414246;
  align-self: flex-start;
  margin-left: -0.5%;
}

.more {
  display: none;
}

.enquries-container {
  color: #000;
  margin: auto;
}

.enquries {
  border: none;
  color: #f3f3f3;
  text-align: center;
}

.about-email {
  padding-left: 5rem;
  color: #f3f3f3;
  font-size: 1rem;
}

.main-head {
  margin: 1.2rem 0;
}

.main-head h2 {
  color: #000;
  text-align: center;
  margin-bottom: 1rem;
}

.history {
  padding: 10px;
}

.history p {
  color: #272a31;
  text-align: center;
  padding: 0.6rem;
}

.past-imgs {
  background-image: url(./img/high11.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 40vh;
  margin-bottom: 0.4rem;
}

.past-imgs2 {
  background-image: url(./img/high33.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 40vh;
}

.past-imgs,
.past-imgs2 h2 {
  color: #fff;
  text-align: center;
}

.partners {
  height: 10rem;
  background-color: #414246;
}

.partners h4 {
  text-align: center;
  padding: 10px;
}

.partners hr {
  width: 10%;
}

.partners-logo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 3%;
  background-color: #414246;
}

.company {
  display: flex;
  flex-direction: row;
  padding: 2em;
  justify-content: space-between;
}

.company p {
  color: #000;
  font-size: 1rem;
}

.nav-container1 {
  display: none;
  height: 0;
}

.phbole {
  margin-top: 2rem;
  text-align: center;
  padding: 10px;
}

.phbole h2 {
  color: #292a2b;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.phbole p {
  color: #292a2b;
  padding-top: 1.25rem;
}

.phbole hr {
  width: 40%;
}

.more-p {
  display: none;
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .ri-menu-fill {
    display: none;
  }

  .ri-close-fill {
    display: none;
  }

  .homepage {
    margin-top: 10%;
    padding: 5%;
  }

  .homepage h3 {
    font-size: 2.5rem;
  }

  .homepage h1 {
    font-size: 4.5rem;
    padding-bottom: 4%;
    line-height: 4.5rem;
    text-align: center;
  }

  .homepage p {
    font-size: 1rem;
    line-height: 2rem;
    padding: 1rem;
    border: 2px #d3d3d35c solid;
    color: #000;
    background-color: #d3d3d3;
    opacity: 0.9;
    border-radius: 1rem;
    width: 60%;
    text-align: center;
    margin-left: 20rem;
  }

  .nav-container1 {
    display: block;
    height: auto;
    background-color: #292a2b;
    padding: 0.5% 6%;
  }

  .nav-list1 {
    display: flex;
    justify-content: right;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    gap: 2%;
    list-style: none;
  }

  .click a {
    font-size: 2rem;
  }

  .nav-list1 li a {
    color: #fff;
    font-size: 1rem;
  }

  .nav-container2 {
    display: block;
    height: 75px;
    background-color: #fff;
    position: relative;
    width: 100%;
    padding: 0;
  }

  .nav-list2 {
    visibility: visible;
    display: flex;
    justify-content: space-evenly;
    height: auto;
    background-color: #fff;
    position: relative;
    flex-direction: row;
    padding-right: 2rem;
  }

  .nav-list2 li a {
    color: #292a2b;
    font-size: 1.25rem;
  }

  .nav-list2 li a:hover {
    color: green;
  }

  .clicklogo {
    width: 40%;
    display: block;
  }

  hr {
    width: 5%;
  }

  .progg {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .prog {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .prog p {
    width: auto;
  }

  .prog h3 {
    font-size: 1.5rem;
  }

  .join-bole {
    font-size: 1.2rem;
    background: none;
    width: 20%;
    height: auto;
    margin: auto;
    text-decoration: underline;
  }

  .chefz {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
  }

  .more {
    display: block;
  }

  .chefs {
    display: flex;
    gap: 1rem;
  }

  .chefs img {
    width: 125px;
    height: 125px;
  }

  .portfolio .intro,
  .portfolio .main {
    flex-wrap: wrap;
    width: 450px;
  }

  .featured-chefs hr {
    width: 3%;
  }

  .featured-chefs h2 {
    padding-bottom: 0;
  }

  .portfolio hr {
    width: 3%;
    color: #414246;
  }

  .flex-nav {
    padding: 0;
  }

  .enq {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
  }

  .enq p {
    background: #414246;
    border-radius: 10px;
  }

  .enquries {
    border: none;
    color: #fff;
  }

  .about-email {
    padding-left: 10rem;
    color: #fff;
  }

  .phbole {
    margin-top: 2rem;
    text-align: center;
  }

  .phbole h2 {
    color: #292a2b;
    padding-bottom: 1rem;
    font-size: 1.5rem;
  }

  .phbole p {
    color: #292a2b;
    padding-top: 1.25rem;
    line-height: 1.25rem;
  }

  .phbole hr {
    width: 3%;
  }

  .logo img {
    width: 28%;
    margin-left: 36rem;
    background: #f3f3f3;
  }

  .more-p {
    display: block;
    font-size: 1.2rem;
    color: #292a2b;
    line-height: 2rem;
  }

  .logo {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
  }

  .past-img-desk {
    padding-right: 10%;
    padding-left: 13%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 40vh;
    margin-bottom: 0.4rem;
    gap: 1.25rem;
  }

  .past-imgs .past-imgs2 {
    width: 50%;
  }

  .main-head h2 {
    font-size: 2rem;
  }

  .main-head hr {
    width: 4%;
  }

  .main-head p {
    font-size: 1.2rem;
  }

  .partners h4 {
    font-size: 2.5rem;
  }

  .partners hr {
    width: 4%;
  }

  .partners-logo img {
    width: 6%;
    margin-top: 2%;
    margin-bottom: 3%;
  }

  .company {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 34%;
    margin-top: 5rem;
  }

  .company img {
    width: 10%;
  }

  .company p {
    color: #000;
    font-size: 1.2rem;
  }

  .clicks {
    border: 5px solid #ec5242;
    margin: 1rem;
    padding: 10px;
  }
}
